nav{
    z-index: 99999;
    -webkit-box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.41);
box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.41);
width: 100%;
}

.navbar-brand {
    font-size: 30px;
    margin-left: 20px;
}

















footer ul {
    padding:0;
    margin:0
   }
footer li {
    list-style:none
   }
 footer  a:focus,a:hover {
    text-decoration:none;
    -webkit-transition:.3s ease;
    -o-transition:.3s ease;
    transition:.3s ease
   }
 footer  a:focus {
    outline:0
   }
  footer img {
    max-width:100%
   }
 footer  p {
    font-size:16px;
    line-height:30px;
    color:#898b96;
    font-weight:300
   }
 footer  h4 {
    font-family:Rubik,sans-serif;
    margin:0;
    font-weight:400;
    padding:0;
    color:#363940
   }
 footer  a {
    color:#5867dd
   }
 footer  .no-padding {
    padding:0!important
   }
 footer  .go_top {
    display: none;
    cursor: pointer;
    overflow: hidden;
    line-height:40px;
    cursor:pointer;
    width:40px;
    background:var(--mainColor);
    color:var(--whiteColor);
    position:fixed;
    -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
    box-shadow:0 4px 4px rgba(0,0,0,.1);
    -webkit-border-radius:50%;
    border-radius:50%;
    left:-webkit-calc((100% - 100px));
    left:calc((100% - 100px));
    z-index:99999999999;
    bottom:80px;
    text-align:center
   }

  
  footer .go_top span {
    display:inline-block
   }
   .footer-big {
    padding:105px 0 65px 0
   }
   .footer-big .footer-widget {
    margin-bottom:40px
   }
   .footer--light {
    background:#fff
   }
   .go_top:hover i{
    animation: arrowUp 1.5s ease-in-out 0s infinite ;
   }
   @keyframes arrowUp {
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(-30px);
    }
   }
   .footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
    color:#898b96
   }
   .footer-menu {
    padding-left:48px
   }
   .footer-menu ul li a {
    font-size:15px;
    line-height:32px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
   }
   .footer-menu ul li a:hover {
    color:var(--mainColor)
   }
   .footer-menu--1 {
    width:100%
   }
   .footer-widget-title {
    line-height:42px;
    margin-bottom:10px;
    font-size:18px
   }
   .mini-footer {
    background:var(--mainColor);
    text-align:center;
    padding:32px 0
   }
   .mini-footer p {
    margin:0;
    line-height:26px;
    font-size:15px;
    color:var(--whiteColor)
   }
   .mini-footer p a {
    color:#5867dd
   }
   .mini-footer p a:hover {
    color:#34bfa3
   }
   .widget-about img {
    display:block;
    margin-bottom:30px
   }
   .widget-about p {
    font-weight:400
   }
   .widget-about .contact-details {
    margin:30px 0 0 0
   }
   .widget-about .contact-details li {
    margin-bottom:10px
   }
   .widget-about .contact-details li:last-child {
    margin-bottom:0
   }
   .widget-about .contact-details li span {
    padding-right:12px
   }
   .widget-about .contact-details li a {
    color:#5867dd
   }
   @media (max-width:991px) {
    .footer-menu {
     padding-left:0
    }
   }
   


   
  