html {
    overflow-x: hidden;
}

:root{
--mainColor:rgb(34, 34, 34);
--whiteColor:#fff;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
    color: var(--mainColor);
}

h2
{
    font-weight: 600;
}

/* Start Header And Navbar */

header {
    height: 90vh;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
nav{
    z-index: 99999;
    -webkit-box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.41);
box-shadow: 0px 6px 16px -5px rgba(0,0,0,0.41);
}
.overlay-itro {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}
nav {
    width: 100%;
}
.navbar-brand {
    font-size: 30px;
    margin-left: 20px;
}

.carousel-item:nth-child(1){
    background-image: url(../images/gettyimages-1139869565.jpg);
    background-size: cover;
    background-position: center 50px;
    background-repeat: no-repeat;
}

.carousel-item:nth-child(2){
    background-image: url(../images/1514474020-tips-for-aspiring-fashion-models.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel-caption {
    position: absolute;
    top: 200px;
    overflow: hidden;
}
.carousel-indicators {
    position: relative;
    bottom: 120px;
}

.carousel-caption h5 {
    font-size: 80px;
    font-weight: 900;
    opacity: 0;
    -webkit-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    -webkit-animation-name: head-con;
    animation-name: head-con;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: normal;
    animation-duration: normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.carousel-caption p {
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    opacity: 0;
    -webkit-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    -webkit-animation-name: head-con;
    animation-name: head-con;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: 1.5s;
    animation-timing-function: 1.5s;
    -webkit-animation-duration: normal;
    animation-duration: normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.carousel-caption button {
    opacity: 0;
    background-color: var(--whiteColor) !important;
    color: var(--mainColor);
    -webkit-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    -webkit-animation-name: head-con;
    animation-name: head-con;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: 1.5s;
    animation-timing-function: 1.5s;
    -webkit-animation-duration: normal;
    animation-duration: normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    margin-top: 20px;
}
.carousel-caption .btn {
    font-weight: 400;
    padding: 15px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        top: 250px;
    }
    .carousel-caption h5 {
        font-size: 50px;
        font-weight: 700;
    }

    .h-icons i {
        margin-left: 5px;
        color: #fff;
        cursor: pointer;
        padding: 9px 11px;
        border-radius: 50%;
       font-size: 12px ;
    }

    .carousel-caption .btn {
        font-weight: 200;
        font-size: 15px;
        padding: 12px;
    }

    .carousel-caption p
{
   font-size: 22px;
}
}
@media screen and (min-width: 600px) and (max-width: 767px) {
    .carousel-caption {
        top: 250px;
    }
    .carousel-caption h5 {
        font-size: 35px;
        font-weight: 600;
    }

    .h-icons i {
        margin-left: 1px;
        color: #fff;
        cursor: pointer;
        padding: 7px 9px;
        border-radius: 50%;
       font-size: 3px ;
    }

    .carousel-caption .btn {
        font-weight: 200;
        font-size: 12px;
        padding: 8px;
    }

    .carousel-caption p
{
   font-size: 22px;
}
}
@media screen and (max-width: 599px) {
    .carousel-caption {
        top: 250px;
    }
    .carousel-caption h5 {
        font-size: 36px;
        font-weight: 600;
    }

    .h-icons i {
        margin-left: 1px;
        color: #fff;
        cursor: pointer;
        padding: 7px 9px;
        border-radius: 50%;
       font-size: 3px ;
    }

    .carousel-caption .btn {
        font-weight: 200;
        font-size: 12px;
        padding: 8px;
    }

    .carousel-caption p
{
   font-size: 18px;
}



}


.btn2:hover {
    background-color: #fff;
    color: #000;
}
@-webkit-keyframes head-con {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes head-con {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}





/* End Header And Navbar */


/* start features */


.features .fetIcon
{
    height: 70px;
    width: 70px;
    background-color: rgba(220, 220, 220, 0.422);
    border-radius: 5px;
}
.features h3
{
    font-weight: 600;
}


/* end features */

/* start currated picks */

.pick a{
    position: absolute;
    top: 70%;
    left: 25%;
}

.pick 
{
  
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    object-fit: fill;
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .pick button{
        left: 20%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .pick button{
        left: 20%;
    }
}

@media screen and (max-width: 576px){
    .pick button
    {
        left: 40%;
        top: 80%;
    }
}

/* end currated picks */

/* start items */

.arrows{
    position: relative;
    left: 90%;
}

.prev , .next
{
    width: 50px;
    height: 40px;
    border: #000 1px solid;
    border-radius: 2px;
    margin: 0px 5px;
    font-size: 20px;
    cursor: pointer;

}


@media screen and (min-width: 768px) and (max-width: 991px) {
    .arrows{
        position: relative;
        left: 85%;
    }
}
@media screen and (min-width: 600px) and (max-width: 767px){
    .arrows{
        position: relative;
        left: 80%;
    }
}
@media screen and (max-width: 599px) {
    .arrows{
        position: relative;
        left: 75%;
    }
}

.item
{
    width: auto;
}

.item img
{
    object-fit:  fill;
    width: 100%;
    height: 450px;
    border-radius: 5px;
}


/* end items */



/* start bnner */

.bannerImg{
    background-image : url(../images/pexels-cottonbro-studio-8072554.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center center;
}

.banner
{
    height: 300px;
    overflow: hidden;
}













footer ul {
    padding:0;
    margin:0
   }
footer li {
    list-style:none
   }
 footer  a:focus,a:hover {
    text-decoration:none;
    -webkit-transition:.3s ease;
    -o-transition:.3s ease;
    transition:.3s ease
   }
 footer  a:focus {
    outline:0
   }
  footer img {
    max-width:100%
   }
 footer  p {
    font-size:16px;
    line-height:30px;
    color:#898b96;
    font-weight:300
   }
 footer  h4 {
    font-family:Rubik,sans-serif;
    margin:0;
    font-weight:400;
    padding:0;
    color:#363940
   }
 footer  a {
    color:#5867dd
   }
 footer  .no-padding {
    padding:0!important
   }
 footer  .go_top {
    display: none;
    cursor: pointer;
    overflow: hidden;
    line-height:40px;
    cursor:pointer;
    width:40px;
    background:var(--mainColor);
    color:var(--whiteColor);
    position:fixed;
    -webkit-box-shadow:0 4px 4px rgba(0,0,0,.1);
    box-shadow:0 4px 4px rgba(0,0,0,.1);
    -webkit-border-radius:50%;
    border-radius:50%;
    left:-webkit-calc((100% - 100px));
    left:calc((100% - 100px));
    z-index:99999999999;
    bottom:80px;
    text-align:center
   }

  
  footer .go_top span {
    display:inline-block
   }
   .footer-big {
    padding:105px 0 65px 0
   }
   .footer-big .footer-widget {
    margin-bottom:40px
   }
   .footer--light {
    background:#fff
   }
   .go_top:hover i{
    animation: arrowUp 1.5s ease-in-out 0s infinite ;
   }
   @keyframes arrowUp {
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(-30px);
    }
   }
   .footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
    color:#898b96
   }
   .footer-menu {
    padding-left:48px
   }
   .footer-menu ul li a {
    font-size:15px;
    line-height:32px;
    -webkit-transition:.3s;
    -o-transition:.3s;
    transition:.3s
   }
   .footer-menu ul li a:hover {
    color:var(--mainColor)
   }
   .footer-menu--1 {
    width:100%
   }
   .footer-widget-title {
    line-height:42px;
    margin-bottom:10px;
    font-size:18px
   }
   .mini-footer {
    background:var(--mainColor);
    text-align:center;
    padding:32px 0
   }
   .mini-footer p {
    margin:0;
    line-height:26px;
    font-size:15px;
    color:var(--whiteColor)
   }
   .mini-footer p a {
    color:#5867dd
   }
   .mini-footer p a:hover {
    color:#34bfa3
   }
   .widget-about img {
    display:block;
    margin-bottom:30px
   }
   .widget-about p {
    font-weight:400
   }
   .widget-about .contact-details {
    margin:30px 0 0 0
   }
   .widget-about .contact-details li {
    margin-bottom:10px
   }
   .widget-about .contact-details li:last-child {
    margin-bottom:0
   }
   .widget-about .contact-details li span {
    padding-right:12px
   }
   .widget-about .contact-details li a {
    color:#5867dd
   }
   @media (max-width:991px) {
    .footer-menu {
     padding-left:0
    }
   }
   











   #load{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999999999999;
    background-color: #000;
   }



