.filter {
}
.mt-5 {
}
.col-md-3 {
}
.form {
}
.border {
}
.p-4 {
}
.form-group {
}
.d-flex {
}
.justify-content-between {
}
.align-items-center {
}
.bg-light {
}
.p-3 {
}
.mainSlideDown {
}
.m-0 {
}
.fa-solid {
}
.inputsDiv{
	display: none;
}
.fa-plus {
}
.maisSlideDownMenu {
	display: none;
	height: auto;
}
.px-4 {
}
.py-3 {
}
.slideDown {
}
.slideDownMenu {
}
.pl-5 {
}
.form-check-label {
}
.form-check-input {
}
